.login-div {
  background-image: url("../../../../assets/ocean.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.login-div::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
