.project-user-dashboard-main-container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100%;
}

.project-user-dashboard-main-container h1 {
  text-align: center;
}

.project-user-dashboard-main-container > .top-row {
  grid-row: 1;
}

.project-user-dashboard-main-container > .bottom-row {
  padding-top: 20px;
  grid-row: 2;
}
