.investor-menu-body {
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.investor-menu-list {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.investor-menu-item {
  width: 120px;
  padding: 10px 5px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  color: #ffffff;
  background-color: #1e3a5f;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.investor-menu-item:hover {
  cursor: pointer;
  background-color: #00bcd4 !important;
  font-weight: bold;
}

.investor-menu-item:active {
  background-color: #008c9e; /* Darker cyan for the active state */
}

.investor-menu-item.item-0 {
  border-left: 0;
}

.investor-menu-item.item-1 {
  border-right: 2px solid black;
}
