.investor-container {
  height: 88%;
}

.investor-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.investor-left {
  grid-column: 1;
  display: grid;
  grid-template-rows: 15% 85%;
}

.investor-left > .investor-menu-container {
  grid-row: 1;
}

.investor-left > .investor-chart-container {
  height: 100%;
  grid-row: 2;
}
