.investor-container {
  display: grid;
  grid-template-rows: 65% 35%;
  height: 88%;
}

/* Top 65% */
.investor-top {
  grid-row: 1;
  display: grid;
  grid-template-columns: 75% 25%;
}

.investor-top-left {
  grid-column: 1;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

.investor-menu-container {
  grid-row: 1;
}

.investor-chart-container {
  grid-row: 2;
}

.investor-top-right {
  grid-column: 2;
}

/* Bottom 35% */
.investor-bottom {
  grid-row: 2;
  background-color: aqua;
}

.investor-container h2 {
  text-align: center;
}
